.country-list .country-flag.ad {
    background-position:-48px -24px
}
.country-list .country-flag.ae {
    background-position:-72px -24px
}
.country-list .country-flag.af {
    background-position:-96px -24px
}
.country-list .country-flag.ag {
    background-position:-120px -24px
}
.country-list .country-flag.ai {
    background-position:-144px -24px
}
.country-list .country-flag.al {
    background-position:-168px -24px
}
.country-list .country-flag.am {
    background-position:-192px -24px
}
.country-list .country-flag.an {
    background-position:-216px -24px
}
.country-list .country-flag.ao {
    background-position:-240px -24px
}
.country-list .country-flag.aq {
    background-position:-264px -24px
}
.country-list .country-flag.ar {
    background-position:-288px -24px
}
.country-list .country-flag.as {
    background-position:-312px -24px
}
.country-list .country-flag.at {
    background-position:-336px -24px
}
.country-list .country-flag.au {
    background-position:-360px -24px
}
.country-list .country-flag.aw {
    background-position:-384px -24px
}
.country-list .country-flag.ax {
    background-position:0 -48px
}
.country-list .country-flag.az {
    background-position:-24px -48px
}
.country-list .country-flag.ba {
    background-position:-48px -48px
}
.country-list .country-flag.bb {
    background-position:-72px -48px
}
.country-list .country-flag.bd {
    background-position:-96px -48px
}
.country-list .country-flag.be {
    background-position:-120px -48px
}
.country-list .country-flag.bf {
    background-position:-144px -48px
}
.country-list .country-flag.bg {
    background-position:-168px -48px
}
.country-list .country-flag.bh {
    background-position:-192px -48px
}
.country-list .country-flag.bi {
    background-position:-216px -48px
}
.country-list .country-flag.bj {
    background-position:-240px -48px
}
.country-list .country-flag.bl {
    background-position:-264px -48px
}
.country-list .country-flag.bm {
    background-position:-288px -48px
}
.country-list .country-flag.bn {
    background-position:-312px -48px
}
.country-list .country-flag.bo {
    background-position:-336px -48px
}
.country-list .country-flag.br {
    background-position:-360px -48px
}
.country-list .country-flag.bs {
    background-position:-384px -48px
}
.country-list .country-flag.bt {
    background-position:0 -72px
}
.country-list .country-flag.bw {
    background-position:-24px -72px
}
.country-list .country-flag.by {
    background-position:-48px -72px
}
.country-list .country-flag.bz {
    background-position:-72px -72px
}
.country-list .country-flag.ca {
    background-position:-96px -72px
}
.country-list .country-flag.cc {
    background-position:-120px -72px
}
.country-list .country-flag.cd {
    background-position:-144px -72px
}
.country-list .country-flag.cf {
    background-position:-168px -72px
}
.country-list .country-flag.cg {
    background-position:-192px -72px
}
.country-list .country-flag.ch {
    background-position:-216px -72px
}
.country-list .country-flag.ci {
    background-position:-240px -72px
}
.country-list .country-flag.ck {
    background-position:-264px -72px
}
.country-list .country-flag.cl {
    background-position:-288px -72px
}
.country-list .country-flag.cm {
    background-position:-312px -72px
}
.country-list .country-flag.cn {
    background-position:-336px -72px
}
.country-list .country-flag.co {
    background-position:-360px -72px
}
.country-list .country-flag.cr {
    background-position:-384px -72px
}
.country-list .country-flag.cu {
    background-position:0 -96px
}
.country-list .country-flag.cv {
    background-position:-24px -96px
}
.country-list .country-flag.cw {
    background-position:-48px -96px
}
.country-list .country-flag.cx {
    background-position:-72px -96px
}
.country-list .country-flag.cy {
    background-position:-96px -96px
}
.country-list .country-flag.cz {
    background-position:-120px -96px
}
.country-list .country-flag.de {
    background-position:-144px -96px
}
.country-list .country-flag.dj {
    background-position:-168px -96px
}
.country-list .country-flag.dk {
    background-position:-192px -96px
}
.country-list .country-flag.dm {
    background-position:-216px -96px
}
.country-list .country-flag.do {
    background-position:-240px -96px
}
.country-list .country-flag.dz {
    background-position:-264px -96px
}
.country-list .country-flag.ec {
    background-position:-288px -96px
}
.country-list .country-flag.ee {
    background-position:-312px -96px
}
.country-list .country-flag.eg {
    background-position:-336px -96px
}
.country-list .country-flag.eh {
    background-position:-360px -96px
}
.country-list .country-flag.er {
    background-position:-384px -96px
}
.country-list .country-flag.es {
    background-position:0 -120px
}
.country-list .country-flag.et {
    background-position:-24px -120px
}
.country-list .country-flag.eu {
    background-position:-48px -120px
}
.country-list .country-flag.fi {
    background-position:-72px -120px
}
.country-list .country-flag.fj {
    background-position:-96px -120px
}
.country-list .country-flag.fk {
    background-position:-120px -120px
}
.country-list .country-flag.fm {
    background-position:-144px -120px
}
.country-list .country-flag.fo {
    background-position:-168px -120px
}
.country-list .country-flag.fr {
    background-position:-192px -120px
}
.country-list .country-flag.ga {
    background-position:-216px -120px
}
.country-list .country-flag.gb {
    background-position:-240px -120px
}
.country-list .country-flag.gd {
    background-position:-264px -120px
}
.country-list .country-flag.ge {
    background-position:-288px -120px
}
.country-list .country-flag.gg {
    background-position:-312px -120px
}
.country-list .country-flag.gh {
    background-position:-336px -120px
}
.country-list .country-flag.gi {
    background-position:-360px -120px
}
.country-list .country-flag.gl {
    background-position:-384px -120px
}
.country-list .country-flag.gm {
    background-position:0 -144px
}
.country-list .country-flag.gn {
    background-position:-24px -144px
}
.country-list .country-flag.gq {
    background-position:-48px -144px
}
.country-list .country-flag.gr {
    background-position:-72px -144px
}
.country-list .country-flag.gs {
    background-position:-96px -144px
}
.country-list .country-flag.gt {
    background-position:-120px -144px
}
.country-list .country-flag.gu {
    background-position:-144px -144px
}
.country-list .country-flag.gw {
    background-position:-168px -144px
}
.country-list .country-flag.gy {
    background-position:-192px -144px
}
.country-list .country-flag.hk {
    background-position:-216px -144px
}
.country-list .country-flag.hn {
    background-position:-240px -144px
}
.country-list .country-flag.hr {
    background-position:-264px -144px
}
.country-list .country-flag.ht {
    background-position:-288px -144px
}
.country-list .country-flag.hu {
    background-position:-312px -144px
}
.country-list .country-flag.ic {
    background-position:-336px -144px
}
.country-list .country-flag.id {
    background-position:-360px -144px
}
.country-list .country-flag.ie {
    background-position:-384px -144px
}
.country-list .country-flag.il {
    background-position:0 -168px
}
.country-list .country-flag.im {
    background-position:-24px -168px
}
.country-list .country-flag.in {
    background-position:-48px -168px
}
.country-list .country-flag.iq {
    background-position:-72px -168px
}
.country-list .country-flag.ir {
    background-position:-96px -168px
}
.country-list .country-flag.is {
    background-position:-120px -168px
}
.country-list .country-flag.it {
    background-position:-144px -168px
}
.country-list .country-flag.je {
    background-position:-168px -168px
}
.country-list .country-flag.jm {
    background-position:-192px -168px
}
.country-list .country-flag.jo {
    background-position:-216px -168px
}
.country-list .country-flag.jp {
    background-position:-240px -168px
}
.country-list .country-flag.ke {
    background-position:-264px -168px
}
.country-list .country-flag.kg {
    background-position:-288px -168px
}
.country-list .country-flag.kh {
    background-position:-312px -168px
}
.country-list .country-flag.ki {
    background-position:-336px -168px
}
.country-list .country-flag.xk {
    background-position:-144px 0
}
.country-list .country-flag.km {
    background-position:-360px -168px
}
.country-list .country-flag.kn {
    background-position:-384px -168px
}
.country-list .country-flag.kp {
    background-position:0 -192px
}
.country-list .country-flag.kr {
    background-position:-24px -192px
}
.country-list .country-flag.kw {
    background-position:-48px -192px
}
.country-list .country-flag.ky {
    background-position:-72px -192px
}
.country-list .country-flag.kz {
    background-position:-96px -192px
}
.country-list .country-flag.la {
    background-position:-120px -192px
}
.country-list .country-flag.lb {
    background-position:-144px -192px
}
.country-list .country-flag.lc {
    background-position:-168px -192px
}
.country-list .country-flag.li {
    background-position:-192px -192px
}
.country-list .country-flag.lk {
    background-position:-216px -192px
}
.country-list .country-flag.lr {
    background-position:-240px -192px
}
.country-list .country-flag.ls {
    background-position:-264px -192px
}
.country-list .country-flag.lt {
    background-position:-288px -192px
}
.country-list .country-flag.lu {
    background-position:-312px -192px
}
.country-list .country-flag.lv {
    background-position:-336px -192px
}
.country-list .country-flag.ly {
    background-position:-360px -192px
}
.country-list .country-flag.ma {
    background-position:-384px -192px
}
.country-list .country-flag.mc {
    background-position:0 -216px
}
.country-list .country-flag.md {
    background-position:-24px -216px
}
.country-list .country-flag.me {
    background-position:-48px -216px
}
.country-list .country-flag.mf {
    background-position:-72px -216px
}
.country-list .country-flag.mg {
    background-position:-96px -216px
}
.country-list .country-flag.mh {
    background-position:-120px -216px
}
.country-list .country-flag.mk {
    background-position:-144px -216px
}
.country-list .country-flag.ml {
    background-position:-168px -216px
}
.country-list .country-flag.mm {
    background-position:-192px -216px
}
.country-list .country-flag.mn {
    background-position:-216px -216px
}
.country-list .country-flag.mo {
    background-position:-240px -216px
}
.country-list .country-flag.mp {
    background-position:-264px -216px
}
.country-list .country-flag.mq {
    background-position:-288px -216px
}
.country-list .country-flag.mr {
    background-position:-312px -216px
}
.country-list .country-flag.ms {
    background-position:-336px -216px
}
.country-list .country-flag.mt {
    background-position:-360px -216px
}
.country-list .country-flag.mu {
    background-position:-384px -216px
}
.country-list .country-flag.mv {
    background-position:0 -240px
}
.country-list .country-flag.mw {
    background-position:-24px -240px
}
.country-list .country-flag.mx {
    background-position:-48px -240px
}
.country-list .country-flag.my {
    background-position:-72px -240px
}
.country-list .country-flag.mz {
    background-position:-96px -240px
}
.country-list .country-flag.na {
    background-position:-120px -240px
}
.country-list .country-flag.nc {
    background-position:-144px -240px
}
.country-list .country-flag.ne {
    background-position:-168px -240px
}
.country-list .country-flag.nf {
    background-position:-192px -240px
}
.country-list .country-flag.ng {
    background-position:-216px -240px
}
.country-list .country-flag.ni {
    background-position:-240px -240px
}
.country-list .country-flag.nl {
    background-position:-264px -240px
}
.country-list .country-flag.no {
    background-position:-288px -240px
}
.country-list .country-flag.np {
    background-position:-312px -240px
}
.country-list .country-flag.nr {
    background-position:-336px -240px
}
.country-list .country-flag.nu {
    background-position:-360px -240px
}
.country-list .country-flag.nz {
    background-position:-384px -240px
}
.country-list .country-flag.om {
    background-position:0 -264px
}
.country-list .country-flag.pa {
    background-position:-24px -264px
}
.country-list .country-flag.pe {
    background-position:-48px -264px
}
.country-list .country-flag.pf {
    background-position:-72px -264px
}
.country-list .country-flag.pg {
    background-position:-96px -264px
}
.country-list .country-flag.ph {
    background-position:-120px -264px
}
.country-list .country-flag.pk {
    background-position:-192px -264px
}
.country-list .country-flag.pl {
    background-position:-216px -264px
}
.country-list .country-flag.pn {
    background-position:-240px -264px
}
.country-list .country-flag.pr {
    background-position:-264px -264px
}
.country-list .country-flag.ps {
    background-position:-288px -264px
}
.country-list .country-flag.pt {
    background-position:-312px -264px
}
.country-list .country-flag.pw {
    background-position:-336px -264px
}
.country-list .country-flag.py {
    background-position:-360px -264px
}
.country-list .country-flag.qa {
    background-position:-384px -264px
}
.country-list .country-flag.ro {
    background-position:0 -288px
}
.country-list .country-flag.rs {
    background-position:-24px -288px
}
.country-list .country-flag.ru {
    background-position:-48px -288px
}
.country-list .country-flag.rw {
    background-position:-72px -288px
}
.country-list .country-flag.sa {
    background-position:-96px -288px
}
.country-list .country-flag.sb {
    background-position:-120px -288px
}
.country-list .country-flag.sc {
    background-position:-144px -288px
}
.country-list .country-flag.sd {
    background-position:-168px -288px
}
.country-list .country-flag.se {
    background-position:-192px -288px
}
.country-list .country-flag.sg {
    background-position:-216px -288px
}
.country-list .country-flag.sh {
    background-position:-240px -288px
}
.country-list .country-flag.si {
    background-position:-264px -288px
}
.country-list .country-flag.sk {
    background-position:-288px -288px
}
.country-list .country-flag.sl {
    background-position:-312px -288px
}
.country-list .country-flag.sm {
    background-position:-336px -288px
}
.country-list .country-flag.sn {
    background-position:-360px -288px
}
.country-list .country-flag.so {
    background-position:-384px -288px
}
.country-list .country-flag.sr {
    background-position:0 -312px
}
.country-list .country-flag.ss {
    background-position:-24px -312px
}
.country-list .country-flag.st {
    background-position:-48px -312px
}
.country-list .country-flag.sv {
    background-position:-72px -312px
}
.country-list .country-flag.sy {
    background-position:-96px -312px
}
.country-list .country-flag.sz {
    background-position:-120px -312px
}
.country-list .country-flag.tc {
    background-position:-144px -312px
}
.country-list .country-flag.td {
    background-position:-168px -312px
}
.country-list .country-flag.tf {
    background-position:-192px -312px
}
.country-list .country-flag.tg {
    background-position:-216px -312px
}
.country-list .country-flag.th {
    background-position:-240px -312px
}
.country-list .country-flag.tj {
    background-position:-264px -312px
}
.country-list .country-flag.tk {
    background-position:-288px -312px
}
.country-list .country-flag.tl {
    background-position:-312px -312px
}
.country-list .country-flag.tm {
    background-position:-336px -312px
}
.country-list .country-flag.tn {
    background-position:-360px -312px
}
.country-list .country-flag.to {
    background-position:-384px -312px
}
.country-list .country-flag.tr {
    background-position:0 -336px
}
.country-list .country-flag.tt {
    background-position:-24px -336px
}
.country-list .country-flag.tv {
    background-position:-48px -336px
}
.country-list .country-flag.tw {
    background-position:-72px -336px
}
.country-list .country-flag.tz {
    background-position:-96px -336px
}
.country-list .country-flag.ua {
    background-position:-120px -336px
}
.country-list .country-flag.ug {
    background-position:-144px -336px
}
.country-list .country-flag.us {
    background-position:-168px -336px
}
.country-list .country-flag.uy {
    background-position:-192px -336px
}
.country-list .country-flag.uz {
    background-position:-216px -336px
}
.country-list .country-flag.va {
    background-position:-240px -336px
}
.country-list .country-flag.vc {
    background-position:-264px -336px
}
.country-list .country-flag.ve {
    background-position:-288px -336px
}
.country-list .country-flag.vg {
    background-position:-312px -336px
}
.country-list .country-flag.vi {
    background-position:-336px -336px
}
.country-list .country-flag.vn {
    background-position:-360px -336px
}
.country-list .country-flag.vu {
    background-position:-384px -336px
}
.country-list .country-flag.wf {
    background-position:0 -360px
}
.country-list .country-flag.ws {
    background-position:-24px -360px
}
.country-list .country-flag.ye {
    background-position:-48px -360px
}
.country-list .country-flag.za {
    background-position:-96px -360px
}
.country-list .country-flag.zm {
    background-position:-120px -360px
}
.country-list .country-flag.zw {
    background-position:-144px -360px
}